@layer tailwind-base, rac-custom-styles;
@layer tailwind-base {
  @tailwind base;
  @tailwind components;
}

@tailwind utilities;

/* global css */

/* GOTHAM */
@font-face {
  font-family: 'Gotham';
  src: url('./assets/fonts/Gotham/Gotham\ Black.otf');
}

/* WORK SANS */
@font-face {
  font-family: 'Work Sans';
  src: url('./assets/fonts/WorkSans/WorkSans-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./assets/fonts/WorkSans/WorkSans-BlackItalic.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./assets/fonts/WorkSans/WorkSans-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./assets/fonts/WorkSans/WorkSans-BoldItalic.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./assets/fonts/WorkSans/WorkSans-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./assets/fonts/WorkSans/WorkSans-ExtraBoldItalic.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./assets/fonts/WorkSans/WorkSans-ExtraLight.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./assets/fonts/WorkSans/WorkSans-ExtraLightItalic.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./assets/fonts/WorkSans/WorkSans-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./assets/fonts/WorkSans/WorkSans-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./assets/fonts/WorkSans/WorkSans-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./assets/fonts/WorkSans/WorkSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./assets/fonts/WorkSans/WorkSans-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./assets/fonts/WorkSans/WorkSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./assets/fonts/WorkSans/WorkSans-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./assets/fonts/WorkSans/WorkSans-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./assets/fonts/WorkSans/WorkSans-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./assets/fonts/WorkSans/WorkSans-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

@layer rac-custom-styles {
  .default-button {
    @apply rac-buttons w-full h-12;
  }

  .default-primary {
    @apply bg-primary text-f-secondary
          hover:bg-c-hover
          active:bg-c-pressed
          disabled:text-f-disabled disabled:bg-c-disabled;
  }

  .default-danger {
    @apply text-s-error border-2 border-s-error
      hover:bg-s-error/[.15]
      active:bg-s-error/[.3]
      disabled:text-f-disabled disabled:bg-c-disabled disabled:border-c-disabled;
  }

  .default-icon {
    @apply py-1;
  }

  .default-input {
    @apply border-b border-c-default outline-0
          hover:border-c-hover
          focus:border-c-pressed focus:text-neutral
          bg-secondary
          placeholder-c-disabled text-f-disabled;
  }

  /* We rely on placeholder to change the border */
  /* once uncontrolled components not necessary have value property */
  .default-input:not(:placeholder-shown),
  .default-input:not([value='']) {
    @apply border-primary text-neutral;
  }
}
